/* SummaryCards.css */
.summary-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 40px; */
  justify-content: space-between;
  margin: 20px;
}

.summary-card {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-icon {
  font-size: 24px;
}

.summary-card h2 {
  font-size: 28px;
  margin: 15px 0 5px;
}

.summary-card p {
  font-size: 14px;
}
